img{
    width: 178px;
    height: 147px;
}

table{
    border: 1px solid black;
    font-size: 16px;
    border-collapse: collapse;
}

td, th{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

h1{
    color: blue;
    font-size: 30px;
    text-align: center;
}

h3{
    text-align: center;
}

th{
    background-color: #666;
    color: #fff;
}

.facebook{
    background: linear-gradient(orange, blue);
}

.instagram{
    background: linear-gradient(orange, purple);
}

.linkedin{
    background: linear-gradient(blue, cyan);
}

.snapchat{
    background: linear-gradient(purple, yellow);
}

.twitter{
    background: linear-gradient(cyan, green);
}

.whatsapp{
    background: linear-gradient(yellow, green);
}